body{
    background-color: black;
    color: white;
    font-family: "Montserrat", "Helvetica", Arial, sans-serif;
    }
.container h1{
    font-size: 50px;
    text-transform: uppercase;
    -webkit-text-stroke-color: #F1F1F1;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    font-weight: revert-layer;
}
.container{
    position: relative;
    left: 15rem;
    top: 10rem;
}

.text_vertical{
    transform: rotate(180deg);
    position: relative;
    writing-mode: vertical-lr;
    left: 2rem;
    font-weight: bolder;
}

.col-6.text_album{
    position: relative;
    top: 12rem;
}

.subtitle{
    font-weight: 700 !important;
}

.green_text{
    color: #50A584;
}

.button_listen_now{
    padding: 10px;
    background-color: #50A584;
    border-color: #50A584;
    transition-duration: 0.4s;
    border: none;
    color: white;
}
.button_share{
    padding: 10px;
    transition-duration: 0.4s;
    border: none;
    background: transparent;
    color: white;
    
}

.button_listen_now:hover{
    background-color: whitesmoke;
    color: black;
}
.button_share:hover{
    background-color: whitesmoke;
    color: black;
}

.stream_list h2{
    font-weight: 600;
    font-size: 3rem;
}

.stream_list{
    position: relative;
    text-align: center;
    top: 10rem;
    right: 10rem;
}

.button_list{
    right: 30rem;
    position: relative;
}
.row.align-items-center{
    width: 25rem;
    position: relative;
    left: 8rem;
    bottom: 2rem;
}

.row.col-6{
    width: 9rem;
}
.col-6 p{
    top: 7px;
    font-size: 13px;
    bottom: 0px;
    position: relative;
    right: 10px;
    color: white;
}
.col-6 a{
    text-decoration: none;
}
.row.align-items-center > div{
    border: 1px solid white;
    height: 50px;
}
